<div>
    <h2 id="page-heading">
        <span jhiTranslate="pangeodataJHipsterApp.productCountry.home.title">Product Countries</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-product-country" [routerLink]="['/product-country/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="pangeodataJHipsterApp.productCountry.home.createLabel">
            Create new Product Country
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="productCountries">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="pangeodataJHipsterApp.productCountry.turnAroundTime">Turn Around Time</span></th>
            <th><span jhiTranslate="pangeodataJHipsterApp.productCountry.country">Country</span></th>
            <th><span jhiTranslate="pangeodataJHipsterApp.productCountry.cost">Cost</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let productCountry of productCountries ;trackBy: trackId">
                <td><a [routerLink]="['/product-country', productCountry.id, 'view' ]">{{productCountry.id}}</a></td>
                <td>{{productCountry.turnAroundTime}}</td>
                <td>{{productCountry.country}}</td>
                <td>{{productCountry.cost}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/product-country', productCountry.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/product-country', productCountry.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'product-country/'+ productCountry.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
