<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="link">
            <h2><span jhiTranslate="pangeodataJHipsterApp.link.detail.title">Link</span> {{link.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="pangeodataJHipsterApp.link.requirementId">Requirement Id</span></dt>
                <dd>
                    <span>{{link.requirementId}}</span>
                </dd>
                <dt><span jhiTranslate="pangeodataJHipsterApp.link.url">Url</span></dt>
                <dd>
                    <span>{{link.url}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/link', link.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
