<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="migration">
            <h2><span jhiTranslate="pangeodataJHipsterApp.migration.detail.title">Migration</span> {{migration.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="pangeodataJHipsterApp.migration.description">Description</span></dt>
                <dd>
                    <span>{{migration.description}}</span>
                </dd>
                <dt><span jhiTranslate="pangeodataJHipsterApp.migration.version">Version</span></dt>
                <dd>
                    <span>{{migration.version}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/migration', migration.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
