<div>
    <h2 id="page-heading">
        <span jhiTranslate="pangeodataJHipsterApp.applicationService.home.title">Application Services</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-application-service" [routerLink]="['/application-service/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="pangeodataJHipsterApp.applicationService.home.createLabel">
            Create new Application Service
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="applicationServices">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="pangeodataJHipsterApp.applicationService.applicationServiceId">Application Service Id</span></th>
            <th><span jhiTranslate="pangeodataJHipsterApp.applicationService.orderId">Order Id</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let applicationService of applicationServices ;trackBy: trackId">
                <td><a [routerLink]="['/application-service', applicationService.id, 'view' ]">{{applicationService.id}}</a></td>
                <td>{{applicationService.applicationServiceId}}</td>
                <td>{{applicationService.orderId}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/application-service', applicationService.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/application-service', applicationService.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'application-service/'+ applicationService.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
