<div>
    <h2 id="page-heading">
        <span jhiTranslate="pangeodataJHipsterApp.orderProfessionalLicenseForm.home.title">Order Professional License Forms</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-order-professional-license-form" [routerLink]="['/order-professional-license-form/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="pangeodataJHipsterApp.orderProfessionalLicenseForm.home.createLabel">
            Create new Order Professional License Form
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="orderProfessionalLicenseForms">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="pangeodataJHipsterApp.orderProfessionalLicenseForm.nameOfLicense">Name Of License</span></th>
            <th><span jhiTranslate="pangeodataJHipsterApp.orderProfessionalLicenseForm.town">Town</span></th>
            <th><span jhiTranslate="pangeodataJHipsterApp.orderProfessionalLicenseForm.licenseInstitution">License Institution</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let orderProfessionalLicenseForm of orderProfessionalLicenseForms ;trackBy: trackId">
                <td><a [routerLink]="['/order-professional-license-form', orderProfessionalLicenseForm.id, 'view' ]">{{orderProfessionalLicenseForm.id}}</a></td>
                <td>{{orderProfessionalLicenseForm.nameOfLicense}}</td>
                <td>{{orderProfessionalLicenseForm.town}}</td>
                <td>{{orderProfessionalLicenseForm.licenseInstitution}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/order-professional-license-form', orderProfessionalLicenseForm.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/order-professional-license-form', orderProfessionalLicenseForm.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'order-professional-license-form/'+ orderProfessionalLicenseForm.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
