<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="orderProfessionalLicenseForm">
            <h2><span jhiTranslate="pangeodataJHipsterApp.orderProfessionalLicenseForm.detail.title">Order Professional License Form</span> {{orderProfessionalLicenseForm.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="pangeodataJHipsterApp.orderProfessionalLicenseForm.nameOfLicense">Name Of License</span></dt>
                <dd>
                    <span>{{orderProfessionalLicenseForm.nameOfLicense}}</span>
                </dd>
                <dt><span jhiTranslate="pangeodataJHipsterApp.orderProfessionalLicenseForm.town">Town</span></dt>
                <dd>
                    <span>{{orderProfessionalLicenseForm.town}}</span>
                </dd>
                <dt><span jhiTranslate="pangeodataJHipsterApp.orderProfessionalLicenseForm.licenseInstitution">License Institution</span></dt>
                <dd>
                    <span>{{orderProfessionalLicenseForm.licenseInstitution}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/order-professional-license-form', orderProfessionalLicenseForm.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
