<div>
    <h2 id="page-heading">
        <span jhiTranslate="pangeodataJHipsterApp.orderFile.home.title">Order Files</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-order-file" [routerLink]="['/order-file/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="pangeodataJHipsterApp.orderFile.home.createLabel">
            Create new Order File
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="orderFiles">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="pangeodataJHipsterApp.orderFile.name">Name</span></th>
            <th><span jhiTranslate="pangeodataJHipsterApp.orderFile.localFiles">Local Files</span></th>
            <th><span jhiTranslate="pangeodataJHipsterApp.orderFile.files">Files</span></th>
            <th><span jhiTranslate="pangeodataJHipsterApp.orderFile.links">Links</span></th>
            <th><span jhiTranslate="pangeodataJHipsterApp.orderFile.displayLinks">Display Links</span></th>
            <th><span jhiTranslate="pangeodataJHipsterApp.orderFile.iCoverName">I Cover Name</span></th>
            <th><span jhiTranslate="pangeodataJHipsterApp.orderFile.orderId">Order Id</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let orderFile of orderFiles ;trackBy: trackId">
                <td><a [routerLink]="['/order-file', orderFile.id, 'view' ]">{{orderFile.id}}</a></td>
                <td>{{orderFile.name}}</td>
                <td>{{orderFile.localFiles}}</td>
                <td>{{orderFile.files}}</td>
                <td>{{orderFile.links}}</td>
                <td>{{orderFile.displayLinks}}</td>
                <td>{{orderFile.iCoverName}}</td>
                <td>{{orderFile.orderId}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/order-file', orderFile.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/order-file', orderFile.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'order-file/'+ orderFile.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
