<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-custom-user-heading" jhiTranslate="pangeodataJHipsterApp.customUser.home.createOrEditLabel">Create or edit a Custom User</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!customUser.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="customUser.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="pangeodataJHipsterApp.customUser.firstname" for="field_firstname">Firstname</label>
                    <input type="text" class="form-control" name="firstname" id="field_firstname"
                        [(ngModel)]="customUser.firstname" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="pangeodataJHipsterApp.customUser.lastname" for="field_lastname">Lastname</label>
                    <input type="text" class="form-control" name="lastname" id="field_lastname"
                        [(ngModel)]="customUser.lastname" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="pangeodataJHipsterApp.customUser.username" for="field_username">Username</label>
                    <input type="text" class="form-control" name="username" id="field_username"
                        [(ngModel)]="customUser.username" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="pangeodataJHipsterApp.customUser.email" for="field_email">Email</label>
                    <input type="text" class="form-control" name="email" id="field_email"
                        [(ngModel)]="customUser.email" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="pangeodataJHipsterApp.customUser.role" for="field_role">Role</label>
                    <input type="text" class="form-control" name="role" id="field_role"
                        [(ngModel)]="customUser.role" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="pangeodataJHipsterApp.customUser.company" for="field_company">Company</label>
                    <input type="text" class="form-control" name="company" id="field_company"
                        [(ngModel)]="customUser.company" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="pangeodataJHipsterApp.customUser.name" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                        [(ngModel)]="customUser.name" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="pangeodataJHipsterApp.customUser.surname" for="field_surname">Surname</label>
                    <input type="text" class="form-control" name="surname" id="field_surname"
                        [(ngModel)]="customUser.surname" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="pangeodataJHipsterApp.customUser.password" for="field_password">Password</label>
                    <input type="text" class="form-control" name="password" id="field_password"
                        [(ngModel)]="customUser.password" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="pangeodataJHipsterApp.customUser.active" for="field_active">Active</label>
                    <input type="text" class="form-control" name="active" id="field_active"
                        [(ngModel)]="customUser.active" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="pangeodataJHipsterApp.customUser.createdAt" for="field_createdAt">Created At</label>
                    <input type="text" class="form-control" name="createdAt" id="field_createdAt"
                        [(ngModel)]="customUser.createdAt" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="pangeodataJHipsterApp.customUser.updatedAt" for="field_updatedAt">Updated At</label>
                    <input type="text" class="form-control" name="updatedAt" id="field_updatedAt"
                        [(ngModel)]="customUser.updatedAt" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="pangeodataJHipsterApp.customUser.isTokenLogin" for="field_isTokenLogin">Is Token Login</label>
                    <input type="text" class="form-control" name="isTokenLogin" id="field_isTokenLogin"
                        [(ngModel)]="customUser.isTokenLogin" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="pangeodataJHipsterApp.customUser.orderId" for="field_orderId">Order Id</label>
                    <input type="text" class="form-control" name="orderId" id="field_orderId"
                        [(ngModel)]="customUser.orderId" />
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
