<div>
    <h2 id="page-heading">
        <span jhiTranslate="pangeodataJHipsterApp.customUser.home.title">Custom Users</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-custom-user" [routerLink]="['/custom-user/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="pangeodataJHipsterApp.customUser.home.createLabel">
            Create new Custom User
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="customUsers">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="pangeodataJHipsterApp.customUser.firstname">Firstname</span></th>
            <th><span jhiTranslate="pangeodataJHipsterApp.customUser.lastname">Lastname</span></th>
            <th><span jhiTranslate="pangeodataJHipsterApp.customUser.username">Username</span></th>
            <th><span jhiTranslate="pangeodataJHipsterApp.customUser.email">Email</span></th>
            <th><span jhiTranslate="pangeodataJHipsterApp.customUser.role">Role</span></th>
            <th><span jhiTranslate="pangeodataJHipsterApp.customUser.company">Company</span></th>
            <th><span jhiTranslate="pangeodataJHipsterApp.customUser.name">Name</span></th>
            <th><span jhiTranslate="pangeodataJHipsterApp.customUser.surname">Surname</span></th>
            <th><span jhiTranslate="pangeodataJHipsterApp.customUser.password">Password</span></th>
            <th><span jhiTranslate="pangeodataJHipsterApp.customUser.active">Active</span></th>
            <th><span jhiTranslate="pangeodataJHipsterApp.customUser.createdAt">Created At</span></th>
            <th><span jhiTranslate="pangeodataJHipsterApp.customUser.updatedAt">Updated At</span></th>
            <th><span jhiTranslate="pangeodataJHipsterApp.customUser.isTokenLogin">Is Token Login</span></th>
            <th><span jhiTranslate="pangeodataJHipsterApp.customUser.orderId">Order Id</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let customUser of customUsers ;trackBy: trackId">
                <td><a [routerLink]="['/custom-user', customUser.id, 'view' ]">{{customUser.id}}</a></td>
                <td>{{customUser.firstname}}</td>
                <td>{{customUser.lastname}}</td>
                <td>{{customUser.username}}</td>
                <td>{{customUser.email}}</td>
                <td>{{customUser.role}}</td>
                <td>{{customUser.company}}</td>
                <td>{{customUser.name}}</td>
                <td>{{customUser.surname}}</td>
                <td>{{customUser.password}}</td>
                <td>{{customUser.active}}</td>
                <td>{{customUser.createdAt}}</td>
                <td>{{customUser.updatedAt}}</td>
                <td>{{customUser.isTokenLogin}}</td>
                <td>{{customUser.orderId}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/custom-user', customUser.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/custom-user', customUser.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'custom-user/'+ customUser.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
