<div>
    <h2 id="page-heading">
        <span jhiTranslate="pangeodataJHipsterApp.orderInput.home.title">Order Inputs</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-order-input" [routerLink]="['/order-input/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="pangeodataJHipsterApp.orderInput.home.createLabel">
            Create new Order Input
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="orderInputs">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="pangeodataJHipsterApp.orderInput.name">Name</span></th>
            <th><span jhiTranslate="pangeodataJHipsterApp.orderInput.orderId">Order Id</span></th>
            <th><span jhiTranslate="pangeodataJHipsterApp.orderInput.label">Label</span></th>
            <th><span jhiTranslate="pangeodataJHipsterApp.orderInput.input">Input</span></th>
            <th><span jhiTranslate="pangeodataJHipsterApp.orderInput.iCoverName">I Cover Name</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let orderInput of orderInputs ;trackBy: trackId">
                <td><a [routerLink]="['/order-input', orderInput.id, 'view' ]">{{orderInput.id}}</a></td>
                <td>{{orderInput.name}}</td>
                <td>{{orderInput.orderId}}</td>
                <td>{{orderInput.label}}</td>
                <td>{{orderInput.input}}</td>
                <td>{{orderInput.iCoverName}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/order-input', orderInput.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/order-input', orderInput.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'order-input/'+ orderInput.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
