<div>
    <h2 id="page-heading">
        <span jhiTranslate="pangeodataJHipsterApp.reportedCriminalActivityCheck.home.title">Reported Criminal Activity Checks</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-reported-criminal-activity-check" [routerLink]="['/reported-criminal-activity-check/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="pangeodataJHipsterApp.reportedCriminalActivityCheck.home.createLabel">
            Create new Reported Criminal Activity Check
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="reportedCriminalActivityChecks">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="pangeodataJHipsterApp.reportedCriminalActivityCheck.reportedCriminalActivityRecordFound">Reported Criminal Activity Record Found</span></th>
            <th><span jhiTranslate="pangeodataJHipsterApp.reportedCriminalActivityCheck.reportedCriminalActivityVerifiedBy">Reported Criminal Activity Verified By</span></th>
            <th><span jhiTranslate="pangeodataJHipsterApp.reportedCriminalActivityCheck.reportedCriminalActivityVerifiedDate">Reported Criminal Activity Verified Date</span></th>
            <th><span jhiTranslate="pangeodataJHipsterApp.reportedCriminalActivityCheck.reportedCriminalActivityRemarks">Reported Criminal Activity Remarks</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let reportedCriminalActivityCheck of reportedCriminalActivityChecks ;trackBy: trackId">
                <td><a [routerLink]="['/reported-criminal-activity-check', reportedCriminalActivityCheck.id, 'view' ]">{{reportedCriminalActivityCheck.id}}</a></td>
                <td>{{reportedCriminalActivityCheck.reportedCriminalActivityRecordFound}}</td>
                <td>{{reportedCriminalActivityCheck.reportedCriminalActivityVerifiedBy}}</td>
                <td>{{reportedCriminalActivityCheck.reportedCriminalActivityVerifiedDate}}</td>
                <td>{{reportedCriminalActivityCheck.reportedCriminalActivityRemarks}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/reported-criminal-activity-check', reportedCriminalActivityCheck.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/reported-criminal-activity-check', reportedCriminalActivityCheck.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'reported-criminal-activity-check/'+ reportedCriminalActivityCheck.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
