<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="reportedCriminalActivityCheck">
            <h2><span jhiTranslate="pangeodataJHipsterApp.reportedCriminalActivityCheck.detail.title">Reported Criminal Activity Check</span> {{reportedCriminalActivityCheck.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="pangeodataJHipsterApp.reportedCriminalActivityCheck.reportedCriminalActivityRecordFound">Reported Criminal Activity Record Found</span></dt>
                <dd>
                    <span>{{reportedCriminalActivityCheck.reportedCriminalActivityRecordFound}}</span>
                </dd>
                <dt><span jhiTranslate="pangeodataJHipsterApp.reportedCriminalActivityCheck.reportedCriminalActivityVerifiedBy">Reported Criminal Activity Verified By</span></dt>
                <dd>
                    <span>{{reportedCriminalActivityCheck.reportedCriminalActivityVerifiedBy}}</span>
                </dd>
                <dt><span jhiTranslate="pangeodataJHipsterApp.reportedCriminalActivityCheck.reportedCriminalActivityVerifiedDate">Reported Criminal Activity Verified Date</span></dt>
                <dd>
                    <span>{{reportedCriminalActivityCheck.reportedCriminalActivityVerifiedDate}}</span>
                </dd>
                <dt><span jhiTranslate="pangeodataJHipsterApp.reportedCriminalActivityCheck.reportedCriminalActivityRemarks">Reported Criminal Activity Remarks</span></dt>
                <dd>
                    <span>{{reportedCriminalActivityCheck.reportedCriminalActivityRemarks}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/reported-criminal-activity-check', reportedCriminalActivityCheck.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
