<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-reported-criminal-activity-check-heading" jhiTranslate="pangeodataJHipsterApp.reportedCriminalActivityCheck.home.createOrEditLabel">Create or edit a Reported Criminal Activity Check</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!reportedCriminalActivityCheck.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="reportedCriminalActivityCheck.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="pangeodataJHipsterApp.reportedCriminalActivityCheck.reportedCriminalActivityRecordFound" for="field_reportedCriminalActivityRecordFound">Reported Criminal Activity Record Found</label>
                    <input type="text" class="form-control" name="reportedCriminalActivityRecordFound" id="field_reportedCriminalActivityRecordFound"
                        [(ngModel)]="reportedCriminalActivityCheck.reportedCriminalActivityRecordFound" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="pangeodataJHipsterApp.reportedCriminalActivityCheck.reportedCriminalActivityVerifiedBy" for="field_reportedCriminalActivityVerifiedBy">Reported Criminal Activity Verified By</label>
                    <input type="text" class="form-control" name="reportedCriminalActivityVerifiedBy" id="field_reportedCriminalActivityVerifiedBy"
                        [(ngModel)]="reportedCriminalActivityCheck.reportedCriminalActivityVerifiedBy" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="pangeodataJHipsterApp.reportedCriminalActivityCheck.reportedCriminalActivityVerifiedDate" for="field_reportedCriminalActivityVerifiedDate">Reported Criminal Activity Verified Date</label>
                    <input type="text" class="form-control" name="reportedCriminalActivityVerifiedDate" id="field_reportedCriminalActivityVerifiedDate"
                        [(ngModel)]="reportedCriminalActivityCheck.reportedCriminalActivityVerifiedDate" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="pangeodataJHipsterApp.reportedCriminalActivityCheck.reportedCriminalActivityRemarks" for="field_reportedCriminalActivityRemarks">Reported Criminal Activity Remarks</label>
                    <input type="text" class="form-control" name="reportedCriminalActivityRemarks" id="field_reportedCriminalActivityRemarks"
                        [(ngModel)]="reportedCriminalActivityCheck.reportedCriminalActivityRemarks" />
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
