<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="product">
            <h2><span jhiTranslate="pangeodataJHipsterApp.product.detail.title">Product</span> {{product.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="pangeodataJHipsterApp.product.active">Active</span></dt>
                <dd>
                    <span>{{product.active}}</span>
                </dd>
                <dt><span jhiTranslate="pangeodataJHipsterApp.product.name">Name</span></dt>
                <dd>
                    <span>{{product.name}}</span>
                </dd>
                <dt><span jhiTranslate="pangeodataJHipsterApp.product.description">Description</span></dt>
                <dd>
                    <span>{{product.description}}</span>
                </dd>
                <dt><span jhiTranslate="pangeodataJHipsterApp.product.turnAroundTime">Turn Around Time</span></dt>
                <dd>
                    <span>{{product.turnAroundTime}}</span>
                </dd>
                <dt><span jhiTranslate="pangeodataJHipsterApp.product.cost">Cost</span></dt>
                <dd>
                    <span>{{product.cost}}</span>
                </dd>
                <dt><span jhiTranslate="pangeodataJHipsterApp.product.countries">Countries</span></dt>
                <dd>
                    <span>{{product.countries}}</span>
                </dd>
                <dt><span jhiTranslate="pangeodataJHipsterApp.product.createdAt">Created At</span></dt>
                <dd>
                    <span>{{product.createdAt}}</span>
                </dd>
                <dt><span jhiTranslate="pangeodataJHipsterApp.product.updatedAt">Updated At</span></dt>
                <dd>
                    <span>{{product.updatedAt}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/product', product.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
