<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-offence-heading" jhiTranslate="pangeodataJHipsterApp.offence.home.createOrEditLabel">Create or edit a Offence</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!offence.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="offence.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="pangeodataJHipsterApp.offence.offence" for="field_offence">Offence</label>
                    <input type="text" class="form-control" name="offence" id="field_offence"
                        [(ngModel)]="offence.offence" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="pangeodataJHipsterApp.offence.offenceDate" for="field_offenceDate">Offence Date</label>
                    <input type="text" class="form-control" name="offenceDate" id="field_offenceDate"
                        [(ngModel)]="offence.offenceDate" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="pangeodataJHipsterApp.offence.sentence" for="field_sentence">Sentence</label>
                    <input type="text" class="form-control" name="sentence" id="field_sentence"
                        [(ngModel)]="offence.sentence" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="pangeodataJHipsterApp.offence.verifiedBy" for="field_verifiedBy">Verified By</label>
                    <input type="text" class="form-control" name="verifiedBy" id="field_verifiedBy"
                        [(ngModel)]="offence.verifiedBy" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="pangeodataJHipsterApp.offence.verifiedDate" for="field_verifiedDate">Verified Date</label>
                    <input type="text" class="form-control" name="verifiedDate" id="field_verifiedDate"
                        [(ngModel)]="offence.verifiedDate" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="pangeodataJHipsterApp.offence.remarks" for="field_remarks">Remarks</label>
                    <input type="text" class="form-control" name="remarks" id="field_remarks"
                        [(ngModel)]="offence.remarks" />
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
