<div>
    <h2 id="page-heading">
        <span jhiTranslate="pangeodataJHipsterApp.offence.home.title">Offences</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-offence" [routerLink]="['/offence/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="pangeodataJHipsterApp.offence.home.createLabel">
            Create new Offence
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="offences">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="pangeodataJHipsterApp.offence.offence">Offence</span></th>
            <th><span jhiTranslate="pangeodataJHipsterApp.offence.offenceDate">Offence Date</span></th>
            <th><span jhiTranslate="pangeodataJHipsterApp.offence.sentence">Sentence</span></th>
            <th><span jhiTranslate="pangeodataJHipsterApp.offence.verifiedBy">Verified By</span></th>
            <th><span jhiTranslate="pangeodataJHipsterApp.offence.verifiedDate">Verified Date</span></th>
            <th><span jhiTranslate="pangeodataJHipsterApp.offence.remarks">Remarks</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let offence of offences ;trackBy: trackId">
                <td><a [routerLink]="['/offence', offence.id, 'view' ]">{{offence.id}}</a></td>
                <td>{{offence.offence}}</td>
                <td>{{offence.offenceDate}}</td>
                <td>{{offence.sentence}}</td>
                <td>{{offence.verifiedBy}}</td>
                <td>{{offence.verifiedDate}}</td>
                <td>{{offence.remarks}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/offence', offence.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/offence', offence.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'offence/'+ offence.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
